@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stephanie Mizelle<br />
    Avon, IN 46123<br />
    <abbr title="Phone">P:</abbr>
    317.797.0712
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>